@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #2563eb;
  --off-white: #f3f4f6;
  --off-white-shadow: #9ca3af;
  --secondary-color: #9ca3af;
  --text-color-light: white;
  --text-color-dark: black;
  --background-color: #f9fafb;

  --dark-off-white: #191919;
  --dark-off-white-shadow: #191919;
  --dark-background-color: black;
  --warning-color: #fcd34d;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

#light-body {
  background-color: var(--background-color);
  color: var(--text-color-dark);
}

#dark-body {
  background-color: var(--dark-background-color);
  color: var(--text-color-light);
}

hr {
  margin: 2rem 0rem;
}

/* container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 70%;
  margin: auto;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.technology-group {
  text-align: center;
}

.technology-group p {
  margin-top: 2rem;
  text-decoration: underline;
}

.devicon {
  font-size: 1.2rem;
}

.devicon.empty {
  width: 0px;
  color: var(--primary-color);
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: var(--text-color-light);
}

.secondary-link {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

/* look into BEM naming condition */
/* look into :root, shadow-dom */

/* lists */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
}

.navigation {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-brand-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: var(--text-color-light);
}

.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 2rem;
  display: flex;
  align-items: center;
  min-height: 80vh;
  justify-content: flex-start;
}

.hero div {
  flex: 1;
}

.hero div p {
  margin: 0px;
  margin-top: 1rem;
}

.hero #hello-text {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.hero .hero-img {
  max-width: 80%;
  width: 700px;
  display: block;
  margin: auto;
  /* margin-top: 2rem; */
}

.hero .hero-heading {
  font-weight: bolder;
  font-size: 2.5rem;
  /* padding-top: 1rem; */
  color: var(--secondary-color);
  /* text-align: center; */
}

.hero .hero-sub-heading {
  padding-bottom: 1rem;
  /* padding-top: 1rem; */
  /* text-align: center; */
}

.hero .hero-heading .heading-inverted {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

#dark-body .ow {
  background-color: var(--dark-off-white);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* background: rgba(0, 0, 0, 0.3); */
}

.text-box {
  padding: 20px 30px;
  background: var(--off-white);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

#dark-body .text-box {
  background: var(--dark-off-white);
}

.left-container {
  left: 0;
  padding-left: 0px;
}

.right-container {
  left: 50%;
  padding-right: 0px;
}

.timeline-container i {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -26px;
  top: 32px;
  z-index: 10;
}

.right-container i {
  left: -14px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background: var(--primary-color);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--off-white);
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--off-white);
  left: -15px;
}

#dark-body .left-container-arrow {
  border-left: 15px solid var(--dark-off-white);
}

#dark-body .right-container-arrow {
  border-right: 15px solid var(--dark-off-white);
}

/* footer */
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: var(--text-color-light);
  border-top-right-radius: 1rem;
}

.footer .link {
  color: var(--text-color-light);
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0rem;
}

.card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--off-white);
  border: 1.5px solid var(--off-white);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem var(--off-white-shadow);
}

.card>i {
  align-self: center;
}

.card>div:last-child {
  margin-top: auto;
}

#dark-body .card {
  background-color: var(--dark-off-white);
  border: 1.5px solid var(--dark-off-white);
  box-shadow: 0px 0px 1rem var(--dark-off-white-shadow);
}

.card img {
  object-fit: contain;
  height: 10rem;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.card .link {
  display: inline-block;
}

/* checkbox-toggle */
.toggle-container {
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-right: 1rem;
  background: var(--dark-off-white);
  position: relative;
  border-radius: 34px;
}

.toggle-container:after {
  content: "🌞";
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
}

.toggle-container:before {
  content: "🌜";
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
}

.toggle-container input {
  display: none;
}

.toggle-label {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.toggle-label:before {
  content: "";
  position: absolute;
  height: 25px;
  top: 5px;
  left: 5px;
  background: white;
  width: 25px;
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.4s;
}

#toggle:checked+.toggle-label:before {
  transform: translateX(25px);
}

/* checkbox end */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.green-font {
  color: greenyellow;
}

.bg-warning {
  color: var(--text-color-dark) !important;
  background-color: var(--warning-color) !important;
}

.chip {
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border-radius: 1rem;
}

.chip-child {
  display: flex;
  align-items: center;
}

.chip-child span {
  padding-left: 0.5rem;
}

.social-link {
  transition: transform 0.2s linear;
}

.social-link:hover {
  transform: scale(1.2);
  color: black;
}

@media (max-width: 1500px) {
  .hero .hero-img {
    width: 600px;
  }
}

@media (max-width: 1340px) {
  .hero .hero-img {
    width: 500px;
  }
}

@media (max-width: 1020px) {
  .container-center {
    max-width: 80%;
  }
}

@media (max-width: 960px) {
  .container-center {
    max-width: 100%;
  }

  .section {
    padding: 1rem;
  }

  .card {
    width: 90%;
    margin: 1rem;
  }

  .navigation .nav-pills {
    text-align: center;
    padding-inline-start: 0rem;
  }
}

@media (max-width: 800px) {

  .hero {
    flex-direction: column-reverse;
  }

  .hero .hero-img {
    margin-top: 4rem;
  }

  .hero div {
    text-align: center;
    padding-top: 4rem;
  }

  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 15px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
  }

  .text-box {
    /* font-size: 13px; */
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .right-container {
    left: 0;
  }

  .left-container i,
  .right-container i {
    left: 0px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid var(--off-white);
    border-left: 0;
    left: -15px;
  }

  #dark-body .left-container-arrow,
  #dark-body .right-container-arrow {
    border-right: 15px solid var(--dark-off-white);
    border-left: 0;
  }

}